.gitignore
.cproject
.project
cppcheck/
.vscode
examples/a.out
htdocs/
.settings/
src_files.txt
tests/build*
tests/code_coverage_files/
tests/code_coverage_report/
build*
__pycache__
.venv
include*/
tests/CMakeCache.txt
tests/CMakeFiles/
tests/CTestTestfile.cmake
tests/Makefile
tests/bin/
tests/cmake_install.cmake
*.DS_Store
tests/src/*_tests
examples/*.bin
docs/isas_support/*
docs/funcs_support/*
ARMIE-BN-UBUNT-r25p0-00rel0.tgz
site/
*.asm
*Adrien*
docs/funcs_support
docs/isas_support
upload_site.sh
tests_golden
*.o
mipp_cpp
prompts
tests/src/c
tests/src/cpp
tests/src/cpp_obj
paper/