mkdocs>=1.5
mkdocs-material>=9.5

# Plugins
mkdocs-awesome-pages-plugin>=2.9
mkdocs-charts-plugin==0.0.10
markdown-grid-tables
mkdocs-glightbox==0.5.2

# Markdown extensions (pymdown)
pymdown-extensions>=10.0

# Pour les emojis Material
mkdocs-material-extensions>=1.3

# (optionnel mais recommandé pour Mermaid rendering fallback)
markdown>=3.5